<style>
    .import-product-form {
        background: #EEEEEE;
        display: inline-block;
        width: 60%;
    }

    #serial-container {
        border-collapse: collapse;
        width: 100%;

    }

    .serial-item > td:first-child {
        padding: 10px 10px 10px 15px;
    }

    .serial-item > td:first-child > * {
        width: 95%;
    }

</style>

<div id="add-serial-modal" class="import-product" data-modal-info="<?php /* @escapeNotVerified */ echo $block->getWidgetOptions();?>">
    <?php if (!$block->getIsReadonly()): ?>
        <div class="os_panel">
            <div class="header">
                <label><h2><?php echo __('Add serial');?></h2></label>
            </div>
        </div>
        <div class="import-product-form">
            <?php if ($block->getUseContainer()): ?>
            <form id="import-product-form" class="admin__fieldset" action="<?php /* @escapeNotVerified */ echo $block->getUrl('serialsuccess/order/saveserialnumber'); ?>" method="post" enctype="multipart/form-data">
                <?php endif; ?>
                <?php echo $block->getBlockHtml('formkey')?>

                <input id="serial-order-item-id" type="hidden" value=""/>
                <input id="maximum-serial-item" type="hidden" value=""/>

                <table id="serial-container" class="data-table">
                    <colgroup>
                        <col style="width: 85%">
                        <col style="width: 15%">
                    </colgroup>
                    <tbody>
<!--                    <tr class="serial-item">-->
<!--                        <td>-->
<!--                            <input class="serial-input" type="text" name="serial">-->
<!--                        </td>-->
<!--                        <td style="text-align: center">-->
<!--                            <button class="remove-serial-button">--><?php //echo __('Delete'); ?><!--</button>-->
<!--                        </td>-->
<!--                    </tr>-->
                    </tbody>
                </table>
                <button id="add-more-serial-button" style="margin: 15px;" onclick="window.addSerial('')"><?php echo __('Add serial'); ?></button>

                <?php if ($block->getUseContainer()): ?>
            </form>
        <?php endif; ?>
        </div>
    <?php endif; ?>
</div>



<script>
    require([
        'jquery',
        'Magento_Ui/js/modal/alert',
        'Magento_Ui/js/modal/modal',
        "mage/mage",
        "mage/validation",
        "loadingPopup"
    ], function ($, alert) {
        $('#add-serial-modal').modal(
            {
                type: 'slide',
                modalClass: 'form-inline',
                title: $.mage.__('Add serial'),
                buttons: [
                    {
                        text: $.mage.__('Cancel'),
                        attr: {

                        },

                        /**
                         * Default action on button click
                         */
                        click: function (event) {
                            window.removeAllSerial();
                            this.closeModal(event);
                        }
                    },
                    {
                        text: $.mage.__('Save'),
                        attr: {
                            'class': 'action-primary'
                        },

                        /**
                         * Default action on button click
                         */
                        click: function (event) {
                            var self = this;
                            var form = $('#import-product-form');
                            if (form.validation() && form.validation('isValid')) {
                                var itemId = $('#serial-order-item-id').val();
                                var listSerial = [];
                                listSerial = [];
                                $('.serial-input').each(function (i, e) {
                                    if($(this).val()){
                                        listSerial.push($(this).val());
                                    }
                                });
                                $.post(
                                    '<?php echo $block->getUrl('serialsuccess/order/saveserialnumber'); ?>',
                                    {
                                        data: (listSerial),
                                        itemId: itemId
                                    },
                                    function (e) {
                                        if (e != '') {
                                            return alert({
                                                title: $.mage.__('Error'),
                                                content: $.mage.__(e)
                                            });
                                        }
                                    }
                                ).done(function () {
                                    location.reload(true)
                                }).fail(function () {

                                }).always(function () {
                                    self.closeModal(event);
                                    window.removeAllSerial();
                                });

                            }


                        }
                    }

                ],
            }
        );

        window.addSerial = function (content) {
            $('#serial-container').find('tbody')
                .append($('<tr>')
                    .attr('class', 'serial-item')
                    .append($('<td>')
                        .append($('<input>')
                            .attr('type', 'text')
                            .attr('name', 'serial')
                            .attr('class', 'serial-input')
                            .val(content)
                        )
                    )
                    .append($('<td>')
                        .attr('style', 'text-align: center')
                        .append($('<button>')
                            .html('<?php echo __('Delete'); ?>')
                            .attr('class', 'remove-serial-button')
                        )
                    )
                );
            window.checkMaximumSerial();
        };
        window.removeAllSerial = function () {
            $('#serial-container').find('tbody > tr').each(function () {
                $(this).remove();
            })
            $('#add-more-serial-button').show();
        };
        window.checkMaximumSerial = function () {
            var curSerial = 0;
            var maxSerial = parseFloat($('#maximum-serial-item').val());
            $('.serial-input').each(function (i, e) {
                curSerial++;
            });
            if(curSerial >= maxSerial) {
                $('#add-more-serial-button').hide();
            } else {
                $('#add-more-serial-button').show();
            }
        };

        $('.remove-serial-button').live('click', function () {
            $(this).parent().parent().remove();
            window.checkMaximumSerial();
        });
    });


</script>
