<style>
    .import-product-form {
        background: #EEEEEE;
        display: inline-block;
        width: 60%;
    }

    #serial-container {
        border-collapse: collapse;
        width: 100%;

    }

    .serial-item > td:first-child {
        padding: 10px 10px 10px 15px;
    }

    .serial-item > td:first-child > * {
        width: 95%;
    }

</style>

<div id="add-serial-modal" class="import-product" data-modal-info="<?php /* @escapeNotVerified */ echo $block->getWidgetOptions();?>">
    <?php if (!$block->getIsReadonly()): ?>
        <div class="os_panel">
            <div class="header">
                <label><?php echo __('Add serial');?></label>
            </div>
            <ul class="content">
                <li class="item">
                    <span>Product id: </span><span id="product-id"></span>
                </li>
<!--                <li class="item">-->
<!--                    <span>--><?php //echo __('Please choose a CSV file to import products. You can download this sample CSV file');?><!--</span>-->
<!--                    <span data-role="data" data-key="barcode" data-type="text" class="value"></span>-->
<!--                    <div class="clear"></div>-->
<!--                </li>-->
            </ul>
        </div>
        <div class="import-product-form">
            <?php if ($block->getUseContainer()): ?>
            <form id="serial-number-form" class="admin__fieldset" action="<?php /* @escapeNotVerified */ echo $block->getUrl('inventorysuccess/transferstock_request/saveimportproduct').'id/'.$block->getRequest()->getParam('id'); ?>" method="post" enctype="multipart/form-data">
                <?php endif; ?>
                <?php echo $block->getBlockHtml('formkey')?>

                <table id="serial-container" class="data-table">
                    <colgroup>
                        <col style="width: 85%">
                        <col style="width: 15%">
                    </colgroup>
                    <tbody>
                    <tr class="serial-item">
                        <td>
                            <input class="serial-input" type="text" name="serial">
                        </td>
                        <td style="text-align: center">
                            <button class="remove-serial-button"><?php echo __('Delete'); ?></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button style="margin: 15px;" onclick="window.addSerial('')"><?php echo __('Add serial'); ?></button>
                <button style="margin: 15px;" onclick="window.removeAllSerial()"><?php echo __('Remove all serials'); ?></button>

                <?php if ($block->getUseContainer()): ?>
            </form>
        <?php endif; ?>
        </div>
    <?php endif; ?>
</div>



<script>
    //    jQuery('body').trigger('contentUpdated');
    require([
        'jquery',
        'Magento_Ui/js/modal/modal',
        "mage/mage",
        "mage/validation",
        "loadingPopup"
    ], function ($) {
        window.serials = [];
        $('#add-serial-modal').modal(
            {
                type: 'slide',
                modalClass: 'form-inline',
                title: $.mage.__('Add serial'),
                buttons: [
                    {
                        text: $.mage.__('Cancel'),
                        attr: {

                        },

                        /**
                         * Default action on button click
                         */
                        click: function (event) {
                            this.closeModal(event);
                        }
                    },
                    {
                        text: $.mage.__('Save'),
                        attr: {
                            'class': 'action-primary'
                        },

                        /**
                         * Default action on button click
                         */
                        click: function (event) {
                            var form = $('#serial-number-form');
                            if (form.validation() && form.validation('isValid')) {
                                var productId = $('#product-id').html();
                                window.serials[productId] = [];
                                $('.serial-input').each(function (i, e) {
                                    if($(this).val()){
                                        window.serials[productId].push($(this).val());
                                    }
                                });

                                if(window.curQtyInputElm){
                                    $(window.curQtyInputElm).val(window.serials[productId].length);
                                    $(window.curQtyInputElm).change();
                                }

                                window.titleUpdater(
                                    "Add serial, " + window.serials[productId].length + " added"
                                );

                                this.closeModal(event);
                            }


                        }
                    }

                ],
            }
        );

        window.addSerial = function (content) {
            $('#serial-container').find('tbody')
                .append($('<tr>')
                    .attr('class', 'serial-item')
                    .append($('<td>')
                        .append($('<input>')
                            .attr('type', 'text')
                            .attr('name', 'serial')
                            .attr('class', 'serial-input')
                            .val(content)
                        )
                    )
                    .append($('<td>')
                        .attr('style', 'text-align: center')
                        .append($('<button>')
                            .html('<?php echo __('Delete'); ?>')
                            .attr('class', 'remove-serial-button')
                        )
                    )
                )
        };
        window.removeAllSerial = function () {
            $('#serial-container').find('tbody > tr').each(function () {
                $(this).remove();
            })
        };

        $('.remove-serial-button').live('click', function () {
            $(this).parent().parent().remove();
        });
    });


</script>
