<?php
/**
 * Copyright © 2016 Magestore. All rights reserved.
 * See COPYING.txt for license details.
 */

?>
<?php $_item = $block->getItem() ?>
<tr>
    <td class="col-product"><?php echo $block->getColumnHtml($_item, 'name') ?></td>
    <td class="col-ordered-qty"><?php echo $block->getColumnHtml($_item, 'qty') ?></td>
    <td class="col-qty-in-warehouse" id="qty_in_warehouse[<?php echo $_item->getOrderItemId() ?>]"></td>
    <td class="col-qty">
        <?php if ($block->canShipPartiallyItem()): ?>
            <input type="hidden"
                   class="input-text admin__control-text qty-item qty-to-ship-input"
                   name="shipment[items][<?php /* @escapeNotVerified */ echo $_item->getOrderItemId() ?>]"
                   id="shipment[items][<?php /* @escapeNotVerified */ echo $_item->getOrderItemId() ?>]"
                   value="<?php /* @escapeNotVerified */ echo $_item->getQty()*1 ?>" />

            <!-- customize: begin -->
            <?php
            $itemOrder = \Magento\Framework\App\ObjectManager::getInstance()
                ->get('Magento\Sales\Model\Order\ItemFactory')->create()->load($_item['order_item_id']);
            ?>
            <!-- add multi select for show all serial string -->
            <select name="shipment[itemsserial][<?php /* @escapeNotVerified */ echo $_item->getOrderItemId() ?>][]"
                    id="shipment[itemsserial][<?php /* @escapeNotVerified */ echo $_item->getOrderItemId() ?>]"
                    class="input-text admin__control-text qty-item serial-to-ship-input"
                    size="3" multiple="multiple" style="width: 100px;">
                <?php
                foreach (explode(',', $itemOrder->getSerialString()) as $sn) {
                    if($sn != '' && $sn != null
                        && strpos($itemOrder->getData('serial_shipping'), $sn) === false
                        && strpos($itemOrder->getData('serial_refund'), $sn) === false) {
                        ?>
                        <option selected value="<?php echo $sn; ?>"><?php echo $sn; ?></option>
                        <?php
                    }
                }
                ?>
            </select>

            <script type="application/javascript">
                require([
                    'jquery',
                    'prototype'
                ], function ($) {
                    Element.prototype.triggerEvent = function(eventName)
                    {
                        if (document.createEvent)
                        {
                            var evt = document.createEvent('HTMLEvents');
                            evt.initEvent(eventName, true, true);
                            return this.dispatchEvent(evt);
                        }
                        if (this.fireEvent)
                            return this.fireEvent('on' + eventName);
                    };

                    // jQuery('element id').triggerEvent('click');
                    $(document).ready(function () {
                        $('.serial-to-ship-input').change(function (e) {
                            var inputElm = $(this).parent().find('.qty-to-ship-input');
                            $(inputElm).val(($(this).val())?$(this).val().length:0);
                            $(inputElm)[0].triggerEvent('change');
                        });

                    });
                });
            </script>
            <!-- customize: end -->

        <?php else: ?>
            <?php /* @escapeNotVerified */ echo $_item->getQty()*1 ?>
        <?php endif; ?>
    </td>
    <td class="col-qty-pending-ship <?php if ($block->isShipmentRegular()): ?>last<?php endif; ?>" id="qty_pending_ship[<?php echo $_item->getOrderItemId()?>]"></td>
    <?php if (!$block->canShipPartiallyItem()): ?>
    <td class="col-ship last">
        <input type="hidden" name="shipment[items][<?php /* @escapeNotVerified */ echo $_item->getOrderItemId() ?>]" value="0" />
        <input type="checkbox" name="shipment[items][<?php /* @escapeNotVerified */ echo $_item->getOrderItemId() ?>]" value="<?php /* @escapeNotVerified */ echo $_item->getQty()*1 ?>" checked />
    </td>
    <?php endif; ?>
</tr>
