<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var \Magento\Sales\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer $block */ ?>
<?php $_item = $block->getItem() ?>
<?php $block->setPriceDataObject($_item) ?>
<tr>
    <?php $i = 0;
    $columns = $block->getColumns();
    $lastItemNumber = count($columns) ?>
    <?php foreach ($columns as $columnName => $columnClass):?>
        <?php $i++; ?>
        <td class="<?php echo /* @noEscape */ $columnClass?><?php /* @noEscape */ echo ($i === $lastItemNumber ? ' last' : '')?>"><?php /* @escapeNotVerified */ echo $block->getColumnHtml($_item, $columnName) ?></td>
    <?php endforeach; ?>
    <td>
        <?php
        $count = 0;
        foreach (explode(',', $_item->getSerialString()) as $sn) {
            if($sn != '' && $sn != null) {
                ?>
                <div><span><?php echo $sn; ?></span></div>
                <?php
                $count++;
            }
        }
        ?>
        <?php
        if($count < $_item->getData('qty_ordered')) {
        ?>
            <button id="open-modal-add-serial-<?php echo $_item->getId(); ?>">Add</button>
        <?php
        }
        ?>
    </td>
</tr>
<script>
    require([
        'jquery',
        'Magento_Ui/js/modal/modal',
        "mage/mage",
        "mage/validation",
        "loadingPopup"
    ], function ($) {
        $('#open-modal-add-serial-<?php echo $_item->getId(); ?>').click(function () {
            window.removeAllSerial();
            var old_serial_string = "<?php echo $_item->getData('serial_string'); ?>";
            var old_serial = null;
            if(old_serial_string){
                var old_serial = old_serial_string.split(",");
                old_serial.forEach(function (item) {
                    window.addSerial(item);
                });
            }
            $('#serial-order-item-id').val(<?php echo $_item->getId(); ?>);
            $('#maximum-serial-item').val(<?php echo $_item->getData('qty_ordered'); ?>);
            $('#add-serial-modal').modal('openModal');
        });
    });


</script>